/Profile output.txt
/UserSettings.txt
/README.md
*.pdb
*.dll
/CvGameCoreDLL/.vs/
/CvGameCoreDLL/temp_files/
*.vcxproj.user
*.settings
*.zip
*.log
*.vcxprojAssemblyReference.cache
*.ini
*.bak
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/CvGameCoreDLL/Makefile.auto
/CvGameCoreDLL/checksums.txt
/CvGameCoreDLL/Boost-1.32.0
/CvGameCoreDLL/Python24
.idea
/Assets/EditorCache.xml
/Assets/EditorSettings.xml
